* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #FFD829;
}

#canvas {
  position: relative;

  width: 1125px;
  height: 675px;

  box-sizing: content-box;

  border: 1px solid black;
}

h2 {
  color: darkolivegreen;
}

#game_over {
  position: absolute;
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1125px;
  height: 675px;

  visibility: hidden;

  color: black;

  background-color: #FFD829;
}
